.container{
	position: relative;
}
#btmnav{
  background-color: #333;
  position: fixed;
  bottom :0;
  width: 100%;
  height: fit-content;
    
}
#grid{
	left: 0;
}
.cell{
	 
	background-color: #FFFF99;
 
}
.visitedcell{
 
	background-color: #87f5ff;
}
.pathcell{
 
	background-color: #26ff12;
}
.startingcell{
 
	background-color: #ffb300;
}
.destinationcell{
 
	background-color: #8B0000;
}
.obstacle{
	background-color: #000000;
}
#no_path{
	width: 400px;
	height: 300px;
	font-size: 36px;
	font-family: "monospace";
	color: #A52A2A;
	z-index: 9;
}
 