body{
	padding-left: 80px;
}
.row{
  
}
.cell{
	 
	background-color: #b8d0d4;
}
.visitedcell{
 
	background-color: #00b3ff;
}
.pathcell{
 
	background-color: #26ff12;
}
.startingcell{
 
	background-color: #ffb300;
}
.destinationcell{
 
	background-color: #ffb300;
}
.obstacle{
	background-color: #000000;
}